<ion-header translucent="true">
  <ion-toolbar>
    <ion-icon [routerLink]="['/']" name="arrow-back-outline" color="white"></ion-icon>
    <ion-title>{{ heroe.name }}</ion-title>
  </ion-toolbar>
</ion-header>
@if (isLoading) {
  <ion-progress-bar  type="indeterminate"></ion-progress-bar>
}
<ion-content fullscreen="true" class="ion-padding">
  @if (!isLoading) {
    <!-- heroe thumbnail -->
    <app-thumbnail [thumbnail]="heroe.thumbnail" />
    <!-- heroeAvailableInfo List start's -->
    <ion-list>
      @for (info of heroeAvailableInfo; track $index) {
        <ion-item>
          <ion-badge slot="end" color="secondary">{{ info.available }}</ion-badge>
          <ion-label>Cantidad de {{ info.data }} disponibles:</ion-label>
        </ion-item>
      }
    </ion-list>
    <!-- heroeAvailableInfo List ends's -->
  }

  @if (!heroe) {
    <h3>
      <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
      <ion-text color="danger">&nbsp;Oops!, No hay informacion disponible!</ion-text>
    </h3>
  }
</ion-content>
