<ion-header translucent="true">
  <ion-toolbar>
    <ion-icon [routerLink]="['/']" name="arrow-back-outline" color="white"></ion-icon>
    <ion-title>{{ heroe.name || 'general.heroe_info' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
@if (isLoading) {
  <ion-progress-bar  type="indeterminate"></ion-progress-bar>
}
<ion-content fullscreen="true" class="ion-padding">
  @if (!isLoading) {
    @if (heroe.id) {
      <!-- heroe thumbnail -->
      <app-thumbnail [thumbnail]="heroe.thumbnail" />
      <!-- heroeAvailableInfo List start's -->
      <ion-list>
        @if (heroeAvailableInfo.length) {
          @for (info of heroeAvailableInfo; track $index) {
            <ion-item>
              <ion-badge slot="end" color="secondary">{{ info.available }}</ion-badge>
              <ion-label>{{'general.available_item' | translate : {item: info.data} }}</ion-label>
            </ion-item>
          }
        }
      </ion-list>
      <!-- heroeAvailableInfo List ends's -->
    } @else {
      <app-empty-data-message />
    }
  }
</ion-content>
