<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>{{ 'general.heroes_list' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
@if (isLoading) {
  <ion-progress-bar  type="indeterminate"></ion-progress-bar>
}
<ion-content fullscreen="true" class="ion-padding">
    @if (!isLoading) {
      <ion-list>
        @for (heroe of heroesList; track $index) {
          <ion-item (click)="setHeroeData(heroe)">
            <app-thumbnail slot="start" [isThumbnail]="true" [thumbnail]="heroe.thumbnail" />
            <ion-label>{{ heroe.name }}</ion-label>
          </ion-item>
        }
      </ion-list>

      @if (!heroesList.length) {
        <app-empty-data-message />
      }
    }
</ion-content>