<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Listado de Superheroes</ion-title>
  </ion-toolbar>
</ion-header>
@if (isLoading) {
  <ion-progress-bar  type="indeterminate"></ion-progress-bar>
}
<ion-content fullscreen="true" class="ion-padding">
    @if (!isLoading) {
      <ion-list>
        @for (heroe of heroesList; track $index) {
          <ion-item [routerLink]="['/heroe-detail', heroe.id]">
            <app-thumbnail slot="start" [isThumbnail]="true" [thumbnail]="heroe.thumbnail" />
            <ion-label>{{ heroe.name }}</ion-label>
          </ion-item>
        }
      </ion-list>
      
      @if (!heroesList.length) {
        <h3>
          <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
          <ion-text color="danger">&nbsp;Oops!, No hay informacion disponible!</ion-text>
        </h3>
      }
    }
</ion-content>